// Reset //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // styles body //

  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  main {
    margin-top: 102px;

  }

  